*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    display: grid;
    gap: 2rem;
    padding: 0 2rem;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 10% 55% 35%;
    grid-template-areas: "header header"
                        "tl-sec tr-sec"
                        "bl-sec br-sec";

    header{
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;

        .links{
            display: flex;
            gap: 2.5rem;
        }
        .btn-div{
            display: flex;
            gap: 1rem;

            button{
            background-color: transparent;
            border: none;
            font-weight: bold;
        }

        .request{
            background-color: rgb(161, 205, 255);
            color: white;
            padding: 0.5rem 1rem;
            border-radius: 2rem;
        }
    }
    }

    section.tl-sec{
        width: 100%;
        display: flex;
        
        
        .top-left{
            width: 75%;
            h1{
                font-size: 2.5rem;
                font-weight: 400;

                img{
                height: 2rem;
                display: inline-block;
            }


                button{
                display: inline-flex;
                align-items: center;
                background-color: white;
                padding: 0.7rem;
                border-radius: 2rem;
                border: 1px solid black;
                font-size: 0.8rem;
                height: 2rem;
            }


            }

            
            .top-bottom{
                display: flex;
                gap: 1rem;
                align-items: center;
                margin-top: 1rem;

                button{
                    padding: 0.5rem 1rem;
                    background-color: rgb(161, 205, 255);
                    color: white;
                    border: none;
                    border-radius: 2rem;
                    
                }

                a{
                    color: black;
                    font-weight: bold;
                    font-size: 1rem;
                }
            }
      
        }
    }

    section.tr-sec{
        grid-area: tr-sec;
        background-image: url(./images/purple.png);
        background-position: center;
        background-size: cover;
        border-radius: 1rem;
        
        .tr-div{
            width: 60%;
            display: flex;
            flex-direction: column;
            padding: 1rem;
            
        }
        
    }
    section.bl-sec{
        margin-top: 4rem;       
        font-size: 0.9rem;
        
        p{
            padding-bottom: 1rem;
        }

        .logo-div{
            display: inline-flex;
            align-items: center;
            padding-bottom: 1rem;
            gap: 1rem;

            .small-img{
                height: 2.5rem;
            }
        
        img{

            height: 1.2rem;
        }

    }

    }
    section.br-sec{
        width: 100%;
        background-color: maroon;
        grid-area: br-sec;
    }
 
}