*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20% 45% 35%;
    grid-template-areas: "header header"
                        "tl-sec tr-sec"
                        "bl-sec br-sec";

    header{
        width: 100%;
        background-color: aquamarine;
        grid-area: header;
    }

    section.tl-sec{
        width: 100%;
        background-color: bisque;
        grid-area: tl-sec;
    }
    section.tr-sec{
        width: 100%;
        background-color: blueviolet;
        grid-area: tr-sec;
    }
    section.bl-sec{
        width: 100%;
        background-color: royalblue;
        grid-area: bl-sec;
    }
    section.br-sec{
        width: 100%;
        background-color: maroon;
        grid-area: br-sec;
    }
 
}